/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

.app {
  text-align: center;

}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #2c3e50;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px;
  margin-right: 20px;
}

.menu-icon {
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Hamburger Menu styles */
.hamburger-menu {
  position: fixed;
  top: 0;
  right: -500px; /* Initially offscreen to the right */
  height: 1080px;
  width: 500px;
  background-color: #556b70;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.4s ease-in-out; /* Smooth slide animation */
  z-index: 999; /* Ensure it stays on top */
}

.hamburger-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.hamburger-menu ul li {
  margin: 20px 0;
}

.hamburger-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.hamburger-menu.open {
  right: 0; /* Slide it into view from the right */
}

.login-link {
  margin-top: 40px;
}

.login-link a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-top: 40px;
}

/* Main content styles */
.main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ececec;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.highlight {
  font-weight: bold;
  color: #ffdd57;
}

.shop-button {
  padding: 10px 20px;
  background-color: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.coffee-shop-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

